body header {
    background-image: url("../img/conference.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-attachment: scroll;
}

.masthead, section {
    min-height: 100vh;
}

#sponsors {
    min-height: 100%;
}

header.masthead {
    color: white;
    text-align: center;
}

header.masthead .intro-text {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header.masthead .intro-text .intro-lead-in {
    font-size: 2vmax;
    font-style: italic;
    line-height: 2vmax;
    margin-bottom: 2vmax;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 4vmax;
    font-weight: 700;
    line-height: 4vmax;
    margin-bottom: 2vmax;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
}

.intro-text .btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
}

.intro-text .btn-xl {
    font-size: 1.8vmax;
    padding: 4vh 6vw;
    line-height: 1vmax;
}

.intro-text .btn-primary {
    background-color: #428bca;
    border-color: #428bca;
}

.intro-text .btn-primary:active, 
.intro-text .btn-primary:focus,
.intro-text .btn-primary:hover {
    background-color: #3677b1;
    border-color: #3677b1;
    color: white;
}

section {
    padding: calc(5vh + 3vw + 2vmin) 0;
}

section h2.section-heading {
    font-size: 3vmax;
}

section h3.section-subheading {
    font-size: calc(1vw + 1vh + .5vmin);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 6vh;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, sans-serif;
}

.topic-heading {
    margin: 15px 0;
}

.speaker-name, .sponsor-name {
    margin-top: 15px;
}

#renderSponsors {
    width: 100%;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

#speakers {
    background-color: lightgray;
}

#speakers h4, #speakers img, #sponsors h4, #sponsors img {
    cursor: pointer;
}

.conference-speaker img {
    border: 2px solid white;
}

.speakers-footing {
    margin-top: 6vh;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

.swal2-content span {
    font-size: 1em;
    width: 100%;
}